@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #000;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
